.container-fluid {

    padding-top: 4%;
    width: 6%;
    height: 6%;
    margin: 1%;
    background-color: rgba(245, 247, 248, 0.335);
    display: inline-block;
}

.content {
    margin-left: 20%;
}
.column1  {
    padding-top: 4%;
    padding-bottom: 4%;
}